<?xml version="1.0"?>
<!--
  Copyright 2015 Fadri Furrer, ASL, ETH Zurich, Switzerland
  Copyright 2015 Michael Burri, ASL, ETH Zurich, Switzerland
  Copyright 2015 Mina Kamel, ASL, ETH Zurich, Switzerland
  Copyright 2015 Janosch Nikolic, ASL, ETH Zurich, Switzerland
  Copyright 2015 Markus Achtelik, ASL, ETH Zurich, Switzerland
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.14159265359" />

  <!-- Add a velodyne that has no weight and a  -->
    <link name="${namespace}/velodyne_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.01" radius="0.007" />
        </geometry>
      </collision>
       <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.01" radius="0.007" />
        </geometry>
      </visual>
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>
    <joint name="${namespace}/velodyne_joint" type="fixed">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <parent link="${namespace}/base_link" />
      <child link="${namespace}/velodyne_link" />
      <limit upper="0" lower="0" effort="0" velocity="0" />
    </joint>
    <gazebo reference="${namespace}/velodyne_link">
	  <sensor type="ray" name="HDL32">
		<pose>0 0 0 0 0 0</pose>
		<update_rate>10</update_rate>
		<ray>
		  <scan>
		    <horizontal>
		      <samples>360</samples>
		      <resolution>1</resolution>
		      <min_angle>-${M_PI}</min_angle>
		      <max_angle> ${M_PI}</max_angle>
		    </horizontal>
		    <vertical>
		      <samples>16</samples>
		      <resolution>1</resolution>
		      <min_angle>-${20.0*M_PI/180.0}</min_angle>
		      <max_angle> ${20.0*M_PI/180.0}</max_angle>
		    </vertical>
		  </scan>
		  <range>
		    <min>1.0</min>
		    <max>100.0</max>
		    <resolution>0.001</resolution>
		  </range>
		  <noise>
		    <type>gaussian</type>
		    <mean>0.0</mean>
		    <stddev>0.002</stddev>
		  </noise>
		</ray>
		<plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_block_laser.so">
      		<frameName>${namespace}/velodyne_link</frameName>
      		<topicName>velodyne/scan</topicName>
      		<gaussianNoise>0.02</gaussianNoise>
      		<updateRate>10</updateRate>
    	</plugin>
	  </sensor>
    </gazebo>
</robot>
